<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Day's picture</title>
</head>
<body>
<img width="100%" id="img-of-the-day">

<div th:if="${success}">
    <br>
    <span style="color:blue;" th:text="${success}"></span>
</div>

<form action="#" th:action="@{/pictures/save}" th:object="${picture}" method="post" novalidate="novalidate">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label>Score:<span style="color: red">*</span></label><br>
        <select th:field="*{score}" >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <br>
    <div>
        <label>Author:<span style="color: red">*</span></label><br>
        <input type="text" th:field="*{author}">
    </div>
    <br>
    <div>
        <label>Feedback:<span style="color: red">*</span></label><br>
        <textarea th:field="*{feedback}" style="width: 100%; height: 150px;"></textarea>
    </div>
    <div hidden="hidden">
        <label>Like</label>
        <input type="text" value="0" name="likes" id="likes">
    </div>
    <br>
    <input type="submit" value="Comment">
    <br><br>
</form>

<!--Hien thị và tăng like comment -->
<hr align="left">
<!--<form action="#" th:action="@{/pictures/like}">-->
    <div th:each="row,rowStat:${comment}">
<!--        <input th:type="hidden" name="id" th:field="*{id}">-->
        <span th:type="hidden" th:name="id" th:text="${row.id}"></span>
        <span th:text="${'+ '+row.getScore()+' '+row.getFeedback()+' '+row.getCreated_at()}"></span>
        <br>
        <div>
            <span th:text="${row.getLikes()+' likes'}"></span>
            <a style="text-decoration: none" th:href="@{/pictures/like/{id}(id=${row.getId()})}"><button>Like</button></a>
        </div>
        <hr align="left">
    </div>
<!--</form>-->


<!--Phân trang -->
<div>
    <a th:href="@{'/pictures'(page=${comment.number - 1})}" th:if="${comment.hasPrevious()}">Previous</a>
    <span th:text="${comment.number + 1}"></span>/<span th:text="${comment.totalPages}"></span>
    <a th:href="@{'/pictures'(page=${comment.number + 1})}" th:if="${comment.hasNext()}">Next</a>
</div>

<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=WBRd7fJAkNL64RdYB37jUb33i48rujadDq8AD7eU';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function() {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>
</body>
</html>